* {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    font-size: 20px;
    text-align: center;
}

#array {
    background-color: black;
    height: 400px;
    width: 598px;
    margin: auto;
    position: relative;
    margin-top: 64px;
}